@import "layout";
@import "utils";
@import "animation";
@import "components";
@import "no-more-tailwind";
@import "tiptap-editor";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --sidebar-width: 240px;
    --header-height: 54px;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 209 94.40% 58.00%;
    --primary-foreground: 0 0% 98%;

    --secondary: 207 100% 96%;
    --secondary-foreground: 209 94.40% 58.00%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    /* Select item / Active item */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --success: 140 63% 47%;
    --success-foreground: 0 0% 98%;

    --warning: 39 98% 51%;
    --warning-foreground: 0 0% 98%;

    --destructive: 7 76.70% 47.10%;
    --destructive-foreground: 0 0% 98%;

    --link: 211 100% 40%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

.glass-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

/* if href is not empty color blue */
/* a[href]:not([href=""]) {
  @apply text-primary underline;
} */
